#soapoints-react {
  .so-bold {
    font-weight: bolder;
  }

  .multi-message-container div {
    height: 30px;
  }

  .multi-message-container .danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}